@import "compass/css3";

html, body {
  padding: 17px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0 auto;
  max-width: 600px;
}

$gray: #aaa;
$blue: rgb(0, 122, 255);

.location {
  margin: 0 auto 30px;
  padding: 15px 25px;
  border: 1px solid lighten($gray, 20%);
  @include border-radius(5px);
}

h2 {
  font-weight: 600;
  color: $blue;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 9px;

  span {
    font-weight: 200;
    color: $gray;
  }
}

.distance {
  text-align: center;
  color: $gray;
  margin-bottom: 7px;
}

.first-arrival {
  font-size: 130%;
  border-left: 3px solid $blue;
  padding: 13px;

  .description {
    font-weight: 600;
  }

  .accuracy {
    font-size: 60%;
    text-transform: uppercase;
    color: darken(red, 10%);
    letter-spacing: 0.05em;
    vertical-align: middle;
  }

  .gps {
    color: #056E00;
  }
}

.later-arrivals {
  list-style-type: none;
  padding: 13px;

  border-left: 3px solid lighten($blue, 30%);

  li {
    color: #999;
  }
}

.no-arrivals {
  color: $gray;
}

.loc-id {
  text-align: right;
  color: $gray;
}
